.centered
{
    text-align: center;
}
.large
{
    font-size: large;
}
.medium
{
    font-size: medium;
}
.small
{
    font-size: small;
}

body
{
    background-color: black;
    color: white;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 1px;
    margin-left: 1px;
}
